<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angurar Data</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="css/style.css">
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-route.min.js"></script>
    <script src="js/lib/angular/angular-animate.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/registration.js"></script>
    <script src="js/services/authentication.js"></script>
    <script src="js/controllers/status.js"></script>
    <script src="js/controllers/meetings.js"></script>
</head>
<body>
<header>
    <nav class="cf" ng-include="'views/nav.html'"></nav>
</header>
<div class="page">
    <div class="userinfo" ng-controller="StatusController" ng-show="currentUser">
        <span class="userinfo" >Hi {{ currentUser.firstname }}</span> 
        <a ng-href="#/logout" ng-click="logout()">logout</a>
    </div>
  <main class="cf" ng-view>
      
  </main>
</div>
</body>
</html>