<section class="login">
    <form name="myform"
          ng-submit="login()"
          novalidate>
        <p>Log-in to access the awesome!</p>
        <p class="error formerror" ng-show="message">{{ message }}</p>
        
        <input type="email" name="email" placeholder="Email"
               ng-model="user.email" ng-required="true">
        <p class="error validationerror" 
           ng-show="myform.email.$invalid && myform.email.$touched">
            Must be a valid email</p>
        
        <input type="password" name="password" placeholder="Password"
               ng-model="user.password" ng-required="true">
        
        <p class="error validationerror" 
           ng-show="myform.password.$invalid && myform.password.$touched">
            Password is required</p>
        
        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">
            Login</button>
        
        <p>or <a href="#/register">register</a></p>
    </form>
</section>