<section class="meetings cf">
    <h1>Add Meeting</h1>
    <form class="formgroup addmeeting cf" name="myform"
          ng-submit="addMeeting()"
          novalidate>
        <div class="inputwrapper">
            <input type="text" name="meetingname" placeholder="Meeting Name"
                   ng-model="meetingname" ng-required="true">
        </div>
        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">+</button>
    </form>
    <h2>Your meetings</h2>
    <div class="meeting" ng-repeat="(key, meeting) in meetings">
        <button class="btn btn-delete tooltip"
            ng-click="deleteMeeting(key)">
        <span> Delete this meeting</span></button>
        <span class="text">{{meeting.name}}</span>
    </div><!-- meeting list -->
</section>