<div class="table">
    <ul>
        <li class="branding"><a ng-href="#/">angularData</a></li>
        <li><a ng-show="currentUser" ng-href="#/meetings">Meetings</a></li>
        <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
        <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
    </ul>
</div>